__pycache__/
*.py[cod]
*$py.class
*.db*
*.log
.gemini/
.agents/
venv/
.setup_done
*.jpg
audio_logs/
telegram_config.json

# Unignore sound prompts assets
!audio_prompts/
!audio_prompts/*.wav
!audio_prompts/*.mp3

